<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancelClicked()">
  </button>
</div>
<div class="modal-body">

  <pngx-input-select [items]="objects" [title]="message" [(ngModel)]="selected"></pngx-input-select>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="cancelClicked()" i18n>Cancel</button>
  <button type="button" class="btn btn-primary" (click)="selectClicked.emit(selected)" i18n>Select</button>
</div>
