<div ngbDropdown>
  <button class="btn btn-sm btn-outline-primary" id="shareDocumentDropdown" [disabled]="disabled" ngbDropdownToggle>
    <i-bs name="box-arrow-up"></i-bs>
    <div class="d-none d-sm-inline">&nbsp;<ng-container i18n>Share</ng-container></div>
  </button>
  <div ngbDropdownMenu aria-labelledby="shareDocumentDropdown" class="shadow share-document-dropdown" [class.x2]="emailEnabled">
    <div class="row px-3 py-2">
      @if (emailEnabled) {
        <div class="col col-md-6 border-end">
          <h6 class="fw-normal"><i-bs class="me-2" name="envelope"></i-bs><ng-container i18n>Email document</ng-container></h6>
          <div class="mb-1">
            <label for="email" class="form-label small" i18n>Email address(es)</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="emailAddress">
          </div>
          <div class="mb-1">
            <label for="email" class="form-label small" i18n>Subject</label>
            <input type="email" class="form-control" id="subject" [(ngModel)]="emailSubject">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label small" i18n>Message</label>
            <textarea class="form-control" id="message" rows="3" [(ngModel)]="emailMessage"></textarea>
          </div>
          <div class="input-group input-group-sm">
            <div class="input-group-text flex-grow-1">
              <input class="form-check-input mt-0 me-2" type="checkbox" role="switch" id="emailUseArchiveVersion" [disabled]="!hasArchiveVersion" [(ngModel)]="emailUseArchiveVersion">
              <label class="form-check-label small w-100 text-start" for="emailUseArchiveVersion" i18n>Use archive version</label>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-primary" (click)="emailDocument()" [disabled]="emailLoading || emailAddress.length === 0 || emailMessage.length === 0 || emailSubject.length === 0">
              @if (loading) {
                <div class="spinner-border spinner-border-sm me-2" role="status"></div>
              }
              <ng-container i18n>Send email</ng-container>
            </button>
          </div>
        </div>
      }
      <div class="col col-md-6 mt-4 mt-md-0" *pngxIfPermissions="{ action: PermissionAction.Add, type: PermissionType.ShareLink }">
        <h6 class="fw-normal"><i-bs class="me-2" name="link"></i-bs><ng-container i18n>Share links</ng-container></h6>
        <ul class="list-group list-group-flush">
          @if (!shareLinks || shareLinks.length === 0) {
            <li class="list-group-item fst-italic small text-center text-secondary" i18n>
              No existing links
            </li>
          }
          @for (link of shareLinks; track link) {
            <li class="list-group-item">
              <div class="input-group input-group-sm w-100">
                <input type="text" class="form-control" aria-label="Share link" [value]="getShareUrl(link)" readonly>
                @if (link.expiration) {
                  <span class="input-group-text">
                    {{ getDaysRemaining(link) }}
                  </span>
                }
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="copy(link)">
                  @if (copied !== link.id) {
                    <i-bs width="1.2em" height="1.2em" name="clipboard-fill"></i-bs>
                  }
                  @if (copied === link.id) {
                    <i-bs width="1.2em" height="1.2em" name="clipboard-check-fill"></i-bs>
                  }
                  <span class="visually-hidden" i18n>Copy</span>
                </button>
                @if (canShare(link)) {
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="share(link)">
                    <i-bs width="1.2em" height="1.2em" name="box-arrow-up"></i-bs><span class="visually-hidden" i18n>Share</span>
                  </button>
                }
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(link)">
                  <i-bs width="1.2em" height="1.2em" name="trash"></i-bs><span class="visually-hidden" i18n>Delete</span>
                </button>
              </div>
              <span class="badge copied-badge bg-primary small fade ms-4 position-absolute top-50 translate-middle-y pe-none z-3" [class.show]="copied === link.id" i18n>Copied!</span>
            </li>
          }
          <li class="list-group-item pt-3 pb-2">
            <div class="input-group input-group-sm w-100">
              <div class="form-check form-switch ms-auto small">
                <input class="form-check-input" type="checkbox" role="switch" id="versionSwitch" [disabled]="!hasArchiveVersion" [(ngModel)]="useArchiveVersion">
                <label class="form-check-label" for="versionSwitch" i18n>Share archive version</label>
              </div>
            </div>
            <div class="input-group input-group-sm w-100 mt-2">
              <label class="input-group-text" for="addLink"><ng-container i18n>Expires</ng-container>:</label>
              <select class="form-select form-select-sm" [(ngModel)]="expirationDays">
                @for (option of EXPIRATION_OPTIONS; track option) {
                  <option [ngValue]="option.value">{{ option.label }}</option>
                }
              </select>
              <button class="btn btn-sm btn-outline-primary ms-auto" type="button" (click)="createLink()" [disabled]="loading">
                @if (loading) {
                  <div class="spinner-border spinner-border-sm me-2" role="status"></div>
                }
                @if (!loading) {
                  <i-bs name="plus"></i-bs>
                }
                <ng-container i18n>Create</ng-container>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
