.share-document-dropdown {
    min-width: 360px;

    .col {
        min-width: 350px;
    }

    @media screen and (min-width: 1024px) {
        &.x2 {
            width: 720px;
        }
    }
}

.copied-badge {
    right: 7.5em;
}
