// hide caret on mobile dropdown
.d-block.d-sm-none .dropdown-toggle::after {
    display: none;
}

tbody tr:last-child td {
    border-bottom: none !important;
}

.form-check {
    min-height: 0;
}

.data-row {
    opacity: 0;
    transition: opacity .2s;
}

.reveal {
    opacity: 1;
}
