// hide caret on mobile dropdown
.d-block.d-sm-none .dropdown-toggle::after {
    display: none;
}

tbody tr:last-child td {
    border-bottom: none !important;
}

.form-check {
    min-height: 0;
}

.depth-0 {
    padding-left: 0;
}

.depth-1 {
    padding-left: 20px;
}

.depth-2 {
    padding-left: 40px;
}

.depth-3 {
    padding-left: 60px;
}

.depth-4 {
    padding-left: 80px;
}

.depth-5 {
    padding-left: 100px;
}
