<button class="list-group-item list-group-item-action d-flex align-items-center p-2 border-top-0 border-left-0 border-right-0 border-bottom" role="menuitem" (click)="toggleItem()">
  <div class="selected-icon mr-1">
    <svg *ngIf="getSelectedIconName() !== ''" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
      <use attr.xlink:href="assets/bootstrap-icons.svg#{{getSelectedIconName()}}" />
    </svg>
  </div>
  <div class="mr-1">
    <app-tag *ngIf="isTag; else displayName" [tag]="toggleableItem?.item" [clickable]="true" linkTitle="Filter by tag"></app-tag>
    <ng-template #displayName><small>{{toggleableItem?.item.name}}</small></ng-template>
  </div>
  <div class="badge badge-light rounded-pill ml-auto mr-1">{{toggleableItem?.count}}</div>
</button>
