<pngx-page-header
  title="Backup & Restore"
  i18n-title
  info="Manage backup and restore versions."
  i18n-info
  infoLink="">
  <button class="btn btn-sm btn-outline-secondary" (click)="clearSelection()" [hidden]="selectedBackups.size === 0">
    <i-bs name="x"></i-bs>&nbsp;<ng-container i18n>Clear selection</ng-container>
  </button>
  <button type="button" class="btn btn-sm btn-outline-primary" (click)="backup()">
    <i-bs name="save"></i-bs>&nbsp;<ng-container i18n>Backup</ng-container>
  </button>
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteBackups(selectedBackups)"
          [disabled]="selectedBackups.size === 0">
    <i-bs name="trash"></i-bs>&nbsp;<ng-container i18n>Delete selected</ng-container>
  </button>
  <!--    <button type="button" class="btn btn-sm btn-outline-danger" (click)="emptyTrash()" [disabled]="backups.length === 0">-->
  <!--        <i-bs name="trash"></i-bs>&nbsp;<ng-container i18n>Empty trash</ng-container>-->
  <!--    </button>-->
</pngx-page-header>
<div class="modal-body row mb-3">
  <div class="row row-cols-1 row-cols-md-1 g-1">
    <div class="col">
      <div class="card bg-light h-100">
        <div class="card-header">
          <h5 class="card-title mb-0" i18n>Storage status</h5>
        </div>
        <div class="card-body">
          <dl class="card-text">
            <!--            <dt i18n>Media Storage</dt>-->
            <!--            <dd>-->
            <!--              <ngb-progressbar style="height: 4px;" class="mt-2 mb-1" type="primary" [max]="100"-->
            <!--                               [value]="100 - 50"></ngb-progressbar>-->
            <!--              <span class="small">{{ 50 | filesize }}-->
            <!--                <ng-container i18n>available</ng-container> ({{ 100 | filesize }}-->
            <!--                <ng-container i18n>total</ng-container>)</span>-->
            <!--            </dd>-->
            <div class="storage-info">
              <!--              <h3 i18n>Storage status</h3>-->
              <p i18n>Used <strong>{{ anotherStorage + backupversionStorage + documentStorage  | fileSize }}</strong> /
                <strong>{{ totalStorage |fileSize }} </strong></p>
              <div class="progress">
                <div class="progress-bar bg-danger " role="progressbar" [style.width]="anotherPercentage + '%'"
                     [attr.aria-valuenow]="anotherPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" [style.width]="documentStoragePercentage + '%'"
                     [attr.aria-valuenow]="documentStoragePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-dark opacity-50" role="progressbar"
                     [style.width]="backupversionStoragePercentage + '%'"
                     [attr.aria-valuenow]="backupversionStoragePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-primary opacity-50" role="progressbar"
                     [style.width]="availableStoragePercentage + '%'"
                     [attr.aria-valuenow]="availableStoragePercentage" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p><strong>{{ freeStorage| fileSize }} </strong></p>
              <div class="legend">
                <span i18n><span class="dot " style="background-color: #ff453a;"></span> {{ anotherStorage|fileSize }}
                  - {{ anotherPercentage.toFixed() }}% Another</span>
                <span i18n><span class="dot ms-2"
                                 style="background-color: #ffcc00;"></span>{{ documentStorage|fileSize }}
                  - {{ documentStoragePercentage.toFixed() }}% Document</span>
                <span i18n><span class="dot ms-2"
                                 style="background-color: #a0a0a0;"></span>{{ backupversionStorage|fileSize }}
                  - {{ backupversionStoragePercentage.toFixed() }} % Backup versions</span>
                <span i18n><span class="dot ms-2 bg-primary opacity-50"></span>{{ availableStorage|fileSize }}
                  - {{ availableStoragePercentage.toFixed() }}% Available</span>
              </div>
            </div>
          </dl>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <ngb-pagination class="col-auto" [pageSize]="25" [collectionSize]="totalBackups" [(page)]="page" [maxSize]="5"
                  (pageChange)="reload()" size="sm" aria-label="Pagination"></ngb-pagination>
</div>

<div class="card border table-responsive mb-3">
  <table class="table table-striped align-middle shadow-sm mb-0">
    <thead>
    <tr>
      <th scope="col">
        <div class="form-check m-0 ms-2 me-n2">
          <input type="checkbox" class="form-check-input" id="all-objects" [(ngModel)]="allToggled"
                 [disabled]="backups.length === 0" (click)="toggleAll($event); $event.stopPropagation();">
          <label class="form-check-label" for="all-objects"></label>
        </div>
      </th>
      <th scope="col" class="fw-normal" i18n>Name</th>
      <th scope="col" class="fw-normal d-none d-sm-table-cell" i18n>Backup at</th>
      <th scope="col" class="fw-normal d-none d-sm-table-cell" i18n>Restore at</th>
      <th scope="col" class="fw-normal d-none d-sm-table-cell" i18n>Document/Size</th>
      <th scope="col" class="fw-normal d-none d-sm-table-cell" i18n>Result</th>
      <th scope="col" class="fw-normal" i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
      @if (loading) {
        <tr>
          <td colspan="5">
            <div class="spinner-border spinner-border-sm me-2" role="status"></div>
            <ng-container i18n>Loading...</ng-container>
          </td>
        </tr>
      }
      @for (backup of backups; track backup.id) {
        <tr (click)="toggleSelected(backup); $event.stopPropagation();" class="data-row fade" [class.show]="show">
          <td>
            <div class="form-check m-0 ms-2 me-n2">
              <input type="checkbox" class="form-check-input" id="{{backup.id}}"
                     [checked]="selectedBackups.has(backup.id)"
                     (click)="toggleSelected(backup); $event.stopPropagation();">
              <label class="form-check-label" for="{{backup.id}}"></label>
            </div>
          </td>
          <td scope="row">
            {{ backup.filename }}
            <!--                      <pngx-preview-popup [backup]="backup" linkClasses="btn btn-sm btn-link" #popupPreview>-->
            <!--                        <i-bs name="eye"></i-bs>-->
            <!--                      </pngx-preview-popup>-->
          </td>
          <td scope="row" class="d-none d-sm-table-cell" i18n>{{ backup.created_at | customDate:'short' }}</td>
          <td scope="row" class="d-none d-sm-table-cell" i18n>{{ backup.restore_at | customDate:'short' }}</td>
          <td scope="row" class="d-none d-sm-table-cell" i18n>{{ backup.detail.documents }}
            - {{ backup.detail.size| filesize }}
          </td>
          <td class="d-none d-lg-table-cell">
            @if (backup.log?.length > 50) {
              <div class="result" (click)="expandBackup(backup); $event.stopPropagation();"
                   [ngbPopover]="resultPopover" popoverClass="shadow small mobile" triggers="mouseenter:mouseleave"
                   container="body">
                <span class="small d-none d-md-inline-block font-monospace text-muted">{{ backup.log | slice:0:50 }}&hellip;</span>
              </div>
            }
            @if (backup.log?.length <= 50) {
              <span class="small d-none d-md-inline-block font-monospace text-muted">{{ backup.log }}</span>
            }
            <ng-template #resultPopover>
                      <pre class="small mb-0">{{ backup.log | slice:0:300 }}@if (backup.log > 300) {
                        &hellip;
                      }</pre>
              @if (backup.log?.length > 300) {
                <br /><em>(
                  <ng-container i18n>click for full output</ng-container>
                  )</em>
              }
            </ng-template>
          </td>
          <td class="d-lg-none">
            <button class="btn btn-link" (click)="expandBackup(backup); $event.stopPropagation();">
              <i-bs width="1.2em" height="1.2em" name="info-circle"></i-bs>
            </button>
          </td>
          <td scope="row">
            <div class="btn-group d-block d-sm-none">
              <div ngbDropdown container="body" class="d-inline-block">
                <button type="button" class="btn btn-link" id="actionsMenuMobile" (click)="$event.stopPropagation()"
                        ngbDropdownToggle>
                  <i-bs name="three-dots-vertical"></i-bs>
                </button>
                <div ngbDropdownMenu aria-labelledby="actionsMenuMobile">
                  <button (click)="restore(backup)" ngbDropdownItem i18n>Restore</button>
                  <button (click)="delete(backup)" ngbDropdownItem i18n>Delete</button>
                </div>
              </div>
            </div>
            <div class="btn-group d-none d-sm-block">
              <button class="btn btn-sm btn-outline-secondary" (click)="restore(backup); $event.stopPropagation();">
                <i-bs width="1em" height="1em" name="arrow-counterclockwise"></i-bs>&nbsp;<ng-container i18n>Restore
              </ng-container>
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="delete(backup); $event.stopPropagation();">
                <i-bs width="1em" height="1em" name="trash"></i-bs>&nbsp;<ng-container i18n>Delete</ng-container>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="p-0" [class.border-0]="expandedBackup !== backup.id" colspan="5">
            <pre #collapse="ngbCollapse" [ngbCollapse]="expandedBackup !== backup.id" class="small mb-0"><div
              class="small p-1 p-lg-3 ms-lg-3">{{ backup.log }}</div>
            </pre>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (!loading) {
  <div class="d-flex mb-2">
    <div>
      <ng-container
        i18n>{totalBackups, plural, =1 {One backup} other {{{ totalBackups || 0 }} total backup versions}}</ng-container>
      @if (selectedBackups.size > 0) {
        <ng-container i18n>&nbsp;({{ selectedBackups.size }} selected)</ng-container>
        <!--                &nbsp;({{selectedBackups.size}} selected)-->
      }
    </div>
    @if (backups.length > 20) {
      <ngb-pagination class="ms-auto" [pageSize]="25" [collectionSize]="totalBackups" [(page)]="page" [maxSize]="5"
                      (pageChange)="reload()" size="sm" aria-label="Pagination"></ngb-pagination>
    }
  </div>
}
