{% extends 'admin/base_site.html' %}

{# NOTE: This should probably be extending base.html.  See CSS comment below details. #}


{% load static %}
{% load custom_css from customisation %}
{% load custom_js from customisation %}


{% block extrahead %}
	<link rel="icon" type="image/x-icon" href="{% url 'favicon' %}" />
	<style>
		#header {
			background-color: #90a9b7;
			line-height: inherit;
			height: auto;
		}
		#branding h1 {
			font-weight: inherit;
			font-size: inherit;
		}
		.button,
		.button:active,
		.button:focus,
		.button:hover,
		a.button,
		.submit-row input,
		input[type="submit"],
		input[type="submit"]:active,
		input[type="submit"]:focus,
		input[type="submit"]:hover,
		input[type="button"],
		input[type="button"]:active,
		input[type="button"]:focus,
		input[type="button"]:hover {
			background-color: #074f57;
		}
		.module h2,
		.module caption,
		.inline-group h2 {
			background-color: #90a9b7;
		}
		div.breadcrumbs {
			background-color: #077187;
		}
		.module h2,
		.module caption,
		.inline-group h2 {
			background-color: #077187;
		}
	</style>
{% endblock %}


{% block branding %}
<h1 id="site-name">
	<a href="{% url 'admin:index' %}"><img src="{% static 'paperless/img/logo-light.png' %}" alt="Paperless" /></a>
</h1>
{% endblock %}


{% block blockbots %}

	{% comment %}
		This really should be extending `extrastyle`, but the the
		django-flat-responsive package decided that it wanted to put its CSS in
		this block, so to make sure that overrides are in fact overriding
		everything else, we have to do the Wrong Thing here.

		Once we switch to Django 2.x and drop django-flat-responsive, we should
		switch this to `extrastyle` where it should be.
	{% endcomment %}

	{{ block.super }}

	{% custom_css %}

{% endblock blockbots %}


{% block footer %}

	{% comment %}
		The Django admin doesn't have a block for Javascript you'd want placed in
		the footer, so we have to use this one instead.
	{% endcomment %}

	{{ block.super }}

	{% custom_js %}

{% endblock footer %}
