{% extends "paperless-ngx/base.html" %}
{% load i18n %}

{% block head_title %}
    {% translate "Login successful" %}
{% endblock head_title %}

{% block form_top_content %}
    <h2 class="h4 mb-3">{% translate "Login successful" %}</h2>
    <p>{% translate "Returning to your app..." %}</p>
{% endblock form_top_content %}

{% block form_content %}
    <div class="d-grid mt-3">
        <a class="btn btn-primary" href="{{ callback_url }}">{% translate "Continue" %}</a>
    </div>
    <p class="mt-3 text-muted">{% translate "You can close this tab." %}</p>
{% endblock form_content %}

{% block after_form_content %}
    <script type="text/javascript">
        window.location.replace("{{ callback_url|escapejs }}");
    </script>
{% endblock after_form_content %}
