<app-page-header title="Logs" i18n-title>

  <div ngbDropdown class="btn-group">
    <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
      <svg class="toolbaricon" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#funnel" />
      </svg>&nbsp;<ng-container i18n>Filter</ng-container>


    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button *ngFor="let f of getLevels()" ngbDropdownItem (click)="setLevel(f.id)"
        [class.active]="level == f.id">{{f.name}}</button>
    </div>
  </div>

</app-page-header>

<div class="bg-dark p-3 mb-3 text-light text-monospace" infiniteScroll (scrolled)="onScroll()">
  <p
    class="m-0 p-0 log-entry-{{log.level}}"
    *ngFor="let log of logs">
      {{log.created | customDate:'short'}}
      {{getLevelText(log.level)}}
      {{log.message}}
  </p>
</div>
