<app-page-header title="Logs" i18n-title>

</app-page-header>


<ul ngbNav #nav="ngbNav" [(activeId)]="activeLog" (activeIdChange)="reloadLogs()" class="nav-tabs">
  <li *ngFor="let logFile of logFiles" [ngbNavItem]="logFile">
    <a ngbNavLink>{{logFile}}.log</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="bg-dark p-3 text-light text-monospace log-container" #logContainer>
  <p
    class="m-0 p-0 log-entry-{{getLogLevel(log)}}"
    *ngFor="let log of logs">{{log}}</p>
</div>
