@import "/src/theme";
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 50px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 3.5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  min-height: min-content;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .sidebaricon {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: $primary;
  font-weight: bold;
}

.sidebar .nav-link.active .sidebaricon,
.sidebar .nav-link:hover .sidebaricon {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.nav {
  flex-wrap: nowrap;
}

.nav-item {
  position: relative;

  &:hover .close {
    display: block;
  }

  .close {
    display: none;
    position: absolute;
    cursor: pointer;
    opacity: 1;
    top: 0;
    padding: .25rem .3rem 0;
    right: .4rem;
    width: 1.8rem;
    height: 100%;

    svg {
      opacity: 0.5;
    }

    &:hover svg {
      opacity: 1;
    }
  }

  .nav-link-additional {
    margin-top: 0.2rem;
    margin-left: 0.25rem;
    padding-top: 0.5rem;

    svg {
      margin-bottom: 2px;
    }
  }
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.dropdown.show .dropdown-toggle,
.dropdown-toggle:hover {
  opacity: 0.7;
}

.dropdown-toggle::after {
  margin-left: 0.4em;
  vertical-align: 0.155em;
}

.navbar .dropdown-menu {
  font-size: 0.875rem; // body size

  a svg {
    opacity: 0.6;
  }
}

.navbar .search-form-container {
  max-width: 550px;

  form {
    position: relative;
  }

  svg {
    position: absolute;
    left: 0.6rem;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus-within {
    svg {
      display: none;
    }

    .form-control::placeholder {
      color: rgba(255, 255, 255, 0);
    }
  }

  .form-control {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 1.8rem;
    border-color: rgba(255, 255, 255, 0.2);
    transition: all .3s ease, padding-left 0s ease, background-color 0s ease; // Safari requires all
    max-width: 600px;
    min-width: 300px; // 1/2 max

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &:focus {
      background-color: #fff;
      color: #212529;
      flex-grow: 1;
      padding-left: 0.5rem;
    }
  }
}
