# https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#package-ecosystem

version: 2
updates:

  # Enable version updates for npm
  - package-ecosystem: "npm"
    target-branch: "dev"
    # Look for `package.json` and `lock` files in the `/src-ui` directory
    directory: "/src-ui"
    # Check the npm registry for updates every month
    schedule:
      interval: "monthly"
    labels:
      - "frontend"
      - "dependencies"
    # Add reviewers
    reviewers:
      - "paperless-ngx/frontend"

  # Enable version updates for Python
  - package-ecosystem: "pip"
    target-branch: "dev"
    # Look for a `Pipfile` in the `root` directory
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
    labels:
      - "backend"
      - "dependencies"
    # Add reviewers
    reviewers:
      - "paperless-ngx/backend"

  # Enable updates for Github Actions
  - package-ecosystem: "github-actions"
    target-branch: "dev"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every month
      interval: "monthly"
    labels:
      - "ci-cd"
      - "dependencies"
    # Add reviewers
    reviewers:
      - "paperless-ngx/ci-cd"
