.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  /* or any other maximum height */
  overflow-y: auto;
  /* make it scrollable */
  padding-right: 8px;
}

.chat-container::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background-color: #60050500;
  /* Color of the scrollbar track */
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: rgba(109, 109, 109, 0.2);
  /* Color of the scrollbar thumb */
  border-radius: var(--bs-border-radius);
  /* Rounded corners of the scrollbar thumb */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(109, 109, 109, 0.4);
  /* Color of the scrollbar thumb on hover */
}

.chat-container::-webkit-scrollbar-thumb:active {
  background-color: rgba(109, 109, 109, 0.6);
  /* Color of the scrollbar thumb on click */
}

.chat-message {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &.user-message {
    justify-content: flex-end;
    align-items: flex-end;

    .message-bubble {
      background-color: var(--bs-primary);
      color: #fff;
      border-radius: var(--bs-border-radius) 0px var(--bs-border-radius) var(--bs-border-radius);
    }
  }

  &.bot-message {
    justify-content: flex-start;
    align-items: flex-start;

    .message-bubble {
      background-color: var(--pngx-bg-alt);
      color: var(--pngx-text);
      border-radius: 0px var(--bs-border-radius) var(--bs-border-radius) var(--bs-border-radius);
    }
  }

  .message-bubble {
    max-width: 80%;
    padding: 10px;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    border: var(--bs-border-width) solid var(--bs-border-color)
  }
}

.chat-form {
  display: flex;
  margin-top: 10px;
}

.typing-animation {

  margin-bottom: 10px;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #999;
    margin-right: 0;
    margin-left: 5px;
    animation: typing 1s infinite;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }

  @keyframes typing {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    50% {
      transform: translateY(-5px);
      opacity: 0.7;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.chat-controls {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.chat-actions {
  display: flex;
  justify-content: flex-end;
}

.loading-history {
  color: var(--bs-secondary);
  font-size: 0.9rem;
}