# EditorConfig: http://EditorConfig.org

root = true

[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 79

[{*.html,*.css,*.js}]
max_line_length = off

[*.py]
indent_size = 4
indent_style = space

[*.{yml,yaml}]
indent_style = space

[*.rst]
indent_style = space

[*.md]
indent_style = space

[Pipfile.lock]
indent_style = space

# Tests don't get a line width restriction.  It's still a good idea to follow
# the 79 character rule, but in the interests of clarity, tests often need to
# violate it.
[**/test_*.py]
max_line_length = off

[Dockerfile*]
indent_style = space
