# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# PyCharm
.idea

# Other stuff that doesn't belong
.virtualenv
virtualenv
/venv
/docker-compose.env
/docker-compose.yml

# Used for development
scripts/import-for-development
scripts/nuke

# Static files collected by the collectstatic command
/static/

# Stored PDFs
/media/
/data/
/paperless.conf
/consume/
/export/
/src-ui/.vscode

# this is where the compiled frontend is moved to.
/src/documents/static/frontend/
/docs/.vscode/settings.json
