# This file configures pre-commit hooks.
# See https://pre-commit.com/ for general information
# See https://pre-commit.com/hooks.html for a listing of possible hooks

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-docstring-first
      - id: check-json
        exclude: "tsconfig.*json"
      - id: check-yaml
        exclude: "charts/paperless-ngx/templates/common.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
        exclude_types:
          - svg
          - pofile
        exclude: "(^LICENSE$)"
      - id: mixed-line-ending
        args:
          - "--fix=lf"
      - id: trailing-whitespace
        exclude_types:
          - svg
      - id: check-case-conflict
      - id: detect-private-key
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        types_or:
          - javascript
          - ts
          - markdown
        exclude: "(^Pipfile\\.lock$)|(^charts/paperless-ngx/README.md$)"
  # Python hooks
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.9.0
    hooks:
      - id: reorder-python-imports
        exclude: "(migrations)"
  - repo: https://github.com/asottile/yesqa
    rev: "v1.4.0"
    hooks:
      - id: yesqa
        exclude: "(migrations)"
  - repo: https://github.com/asottile/add-trailing-comma
    rev: "v2.3.0"
    hooks:
      - id: add-trailing-comma
        exclude: "(migrations)"
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        files: ^src/
        args:
          - "--config=./src/setup.cfg"
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        exclude: "(migrations)"
        args:
          - "--py38-plus"
  # Dockerfile hooks
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.10.0
    hooks:
      - id: hadolint
  # Shell script hooks
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args:
          - "--tab"
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.8.0.4"
    hooks:
      - id: shellcheck
