# Default code owners
* @paperless-ngx/core

/src-ui/ @paperless-ngx/frontend

/src/ @paperless-ngx/backend
pyproject.toml @paperless-ngx/backend
uv.lock @paperless-ngx/backend
*.py @paperless-ngx/backend
pyproject.toml @paperless-ngx/backend
requirements.txt @paperless-ngx/backend
docker/ @paperless-ngx/backend

# Frontend team has more knowledge about the Angular/Web stuff
src-ui/ @paperless-ngx/frontend
