# Default code owners
* @paperless-ngx/core

# Backend team has more knowledge over the Python code and Docker setup
*.py @paperless-ngx/backend
pyproject.toml @paperless-ngx/backend
requirements.txt @paperless-ngx/backend
docker/ @paperless-ngx/backend

# Frontend team has more knowledge about the Angular/Web stuff
src-ui/ @paperless-ngx/frontend
