version: "3.8"
services:
  db:
    image: postgres:13
    #restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless

  webserver:
    build: .
    image: paperless_app
    #restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
    env_file: docker-compose.env
    environment:
      - PAPERLESS_OCR_LANGUAGES=
    command: ["gunicorn", "-b", "0.0.0.0:8000"]

  consumer:
    image: paperless_app
    depends_on:
      - webserver
      - db
    restart: on-failure:5
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - ./consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    command: ["document_consumer"]

volumes:
  data:
  media:
  pgdata:
