# Environment variables to set for Paperless
# Commented out variables will be replaced by a default within Paperless.

# Passphrase Paperless uses to encrypt and decrypt your documents
PAPERLESS_PASSPHRASE=CHANGE_ME

# The amount of threads to use for text recognition
# PAPERLESS_OCR_THREADS=4

# Additional languages to install for text recognition
# PAPERLESS_OCR_LANGUAGES=deu ita

# You can change the default user and group id to a custom one
# USERMAP_UID=1000
# USERMAP_GID=1000
