apipkg==1.4
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
coverage==4.5.1
coveralls==1.2.0
dateparser==0.7.0
django==1.11.10
django-crispy-forms==1.7.0
django-extensions==2.0.0
django-filter==1.1.0
django-flat-responsive==2.0
djangorestframework==3.7.7
docopt==0.6.2
execnet==1.5.0
factory-boy==2.10.0
faker==0.8.11
filemagic==1.6
flake8==3.5.0
fuzzywuzzy==0.15.0
gunicorn==19.7.1
idna==2.6
langdetect==1.0.7
mccabe==0.6.1
pdftotext==2.0.2
pillow==5.0.0
pluggy==0.6.0
py==1.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
pyocr==0.5
pytest==3.4.1
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-env==0.6.2
pytest-forked==0.2
pytest-sugar==0.9.1
pytest-xdist==1.22.1
python-dateutil==2.6.1
python-dotenv==0.7.1
python-gnupg==0.4.1
python-levenshtein==0.12.0
pytz==2018.3
regex==2018.2.21
requests==2.18.4
six==1.11.0
termcolor==1.1.0
text-unidecode==1.2
typing==3.6.4
tzlocal==1.5.1
urllib3==1.22
