.log-entry-10 {
  color: lightslategray !important;
}

.log-entry-30 {
  color: yellow !important;
}

.log-entry-40 {
  color: red !important;
}

.log-entry-50 {
  color: lightcoral !important;
  font-weight: bold;
}

.log-container {
  height: calc(100vh - 190px);
  overflow-y: auto;

  p {
    white-space: pre-wrap;
  }
}

.jump-to-bottom {
  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms ease-in-out;
}

.jump-to-bottom.visible {
  opacity: 1;
  pointer-events: auto;
}
