:host {
  display: block;
  width: 100%;
  height: 100%;
}

:host ::ng-deep .pngx-pdf-viewer-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

:host ::ng-deep .page {
  position: relative;
  margin: 0 auto 10px;
}

:host ::ng-deep .page.show-borders {
  border: 1px solid var(--bs-border-color);
  margin-bottom: 10px;
}

:host ::ng-deep .page canvas {
  display: block;
}

:host ::ng-deep .textLayer {
  position: absolute;
  inset: 0;
  color: transparent !important;
  user-select: text;
}

:host ::ng-deep .textLayer span {
  position: absolute;
  white-space: pre;
  transform-origin: 0 0;
  color: transparent !important;
}

:host ::ng-deep .textLayer ::selection {
  background: rgba(30, 100, 255, 0.35);
}
