<div class="form-row form-group mb-0">
  <div class="col-auto">
    <div class="text-muted mt-1">Filter by:</div>
  </div>
  <div class="col">
    <input class="form-control form-control-sm" type="text" [(ngModel)]="filterText" placeholder="Title" #filterTextInput>
  </div>

  <app-filter-dropdown class="col-auto" *ngFor="let quickFilterRuleTypeID of quickFilterRuleTypeIDs"
    [filterRuleTypeID]="quickFilterRuleTypeID"
    (toggle)="toggleFilterByItem($event, quickFilterRuleTypeID)">
  </app-filter-dropdown>

  <div class="btn-group col-auto" ngbDropdown role="group">
    <button class="btn btn-outline-primary btn-sm" id="dropdownCreated" ngbDropdownToggle>Created</button>
  </div>

  <div class="btn-group col-auto" ngbDropdown role="group">
    <button class="btn btn-outline-primary btn-sm" id="dropdownAdded" ngbDropdownToggle>Added</button>
  </div>

  <button class="btn btn-link btn-sm" [disabled]="!hasFilters()" (click)="clearSelected()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    Clear all filters
  </button>
</div>
