.preview-sticky {
  height: calc(100vh - 160px);
  top: 70px;
  position: sticky;
}

.pdf-viewer-container {
  padding: 8px 8px 0;
  background-color: gray;

  ::ng-deep #printServiceDialog {
    max-width: 400px;
  }

  ::ng-deep #mainContainer.toolbar-hidden {
    margin-top: 0 !important;
  }

  ::ng-deep #viewerContainer {
    top: 0 !important;
    background-color: gray !important;
  }

  ::ng-deep #printServiceDialog {
    display: none !important;
  }
}

::ng-deep .ng-select-taggable {
  max-width: calc(100% - 90px); // fudge factor for (2x) ng-select button width
}

.btn-group .dropdown-toggle-split {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.password-prompt {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}

textarea.rtl {
  direction: rtl;
}

.form-select {
  padding-right: 2.5em;
}
