.preview-sticky {
  height: calc(100vh - 160px);
  top: 70px;
  position: sticky;
}

.pdf-viewer-container {
  background-color: gray;

  pdf-viewer {
    width: 100%;
    height: 100%;
  }
}

::ng-deep .ng2-pdf-viewer-container .page {
  --page-margin: 1px 0 10px;
  width: 100% !important;
}

::ng-deep .ng2-pdf-viewer-container .page:last-child {
  --page-margin: 1px 0 20px;
}

.password-prompt {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}
