{% extends 'admin/change_form.html' %}

{% block object-tools-items %}
  <li>
    <a href="{{download_url}}">
     Download file
    </a>
  </li>
  {{ block.super }}
{% endblock %}

{% block content %}

{{ block.super }}
<div class="side-preview">
  <h2>Preview</h2>
  <object data="/fetch/preview/{{object_id}}"></object>
</div>

{% if file_type in "pdf jpg png" %}

	<div id="change_form_twocolumn_parent">
		<div id="change_form_form_parent"></div>
		<div id="change_form_viewer_parent">
			{% if file_type == "pdf" %}
				{% include "admin/documents/document/viewers/viewer_pdf.html" %}
			{% endif %}
			{% if file_type in "jpg png" %}
				{% include "admin/documents/document/viewers/viewer_image.html" %}
			{% endif %}
		</div>
	</div>

	<script>
		django.jQuery("#change_form_form_parent").append(django.jQuery("#document_form"));
		django.jQuery("#content-main").append(django.jQuery("#change_form_twocolumn_parent"));
	</script>

{% endif %}

{% if next_object %}
	<script type="text/javascript">//<![CDATA[
		(function($){
			$('<input type="submit" value="Save and edit next" name="_saveandeditnext" />')
			.prependTo('div.submit-row');
			$('<input type="hidden" value="{{next_object}}" name="_next_object" />')
			.prependTo('div.submit-row');
		})(django.jQuery);
	//]]></script>
{% endif %}

{% endblock content %}

{% block extrastyle %}
{{ block.super }}
<style>
.side-preview {
    width: 100%;
    height: 800px;
    clear: both;
}

.side-preview object {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1500px) {
    #content-main {
        width: 50%;
    }
    #footer {
        padding: 0;
    }
    .side-preview {
        float: right;
        width: 40%;
        height: 80vh;
        clear: none;
    }
}
</style>
{% endblock %}

{% block footer %}

	{{ block.super }}

	{# Hack to force Django to make the created date a date input rather than `text` (the default) #}
	<script>
		django.jQuery(".field-created input").first().attr("type", "date")
	</script>

{% endblock footer %}
