<div class="form-signin-container">
  <form class="form-signin mt-5" [formGroup]="loginForm" (ngSubmit)="loginClicked()">
    <img class="mb-4" src="assets/logo.svg" alt="" width="100%">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus formControlName="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" formControlName="rememberMe"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-4" type="submit">Login</button>
    <p><a href="/admin/">Go to admin interface</a></p>
  </form>
</div>