{% extends "paperless-ngx/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Paperless-ngx reset password request" %}
{% endblock head_title %}

{% block form_content %}
    <p>{% translate "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% translate "An error occurred. Please try again." %}
        </div>
    {% endif %}
    {% translate "Email" as i18n_email %}
    <div class="form-floating">
        <input type="email" name="{{form.email.name}}" id="inputEmail" placeholder="{{ i18n_email }}" class="form-control" required>
        <label for="inputEmail">{{ i18n_email }}</label>
    </div>
    <div class="d-grid mt-3">
        <button class="btn btn-lg btn-primary" type="submit">{% translate "Send me instructions!" %}</button>
    </div>
{% endblock form_content %}
