{% extends "paperless-ngx/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Paperless-ngx reset password confirmation" %}
{% endblock head_title %}

{% block form_top_content %}
    <p>{% translate "Set a new password." %}</p>
{% endblock form_top_content %}

{% block form_content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used. Please <a class="btn btn-link" href="{{passwd_reset_url}}">{% translate "request a new password reset" %}</a>.</p>
    {% else %}
        {% translate "New Password" as i18n_new_password1 %}
        {% translate "Confirm Password" as i18n_new_password2 %}
        <div class="form-floating form-stacked-top">
            <input type="password" name="{{form.password1.name}}" id="inputPassword1" placeholder="{{ i18n_new_password1 }}" class="form-control" required>
            <label for="inputPassword1">{{ i18n_new_password1 }}</label>
        </div>
        <div class="form-floating form-stacked-bottom">
            <input type="password" name="{{form.password2.name}}" id="inputPassword2" placeholder="{{ i18n_new_password2 }}" class="form-control" required>
            <label for="inputPassword2">{{ i18n_new_password2 }}</label>
        </div>
        <div class="d-grid mt-3">
            <button class="btn btn-lg btn-primary" type="submit">{% translate "Change my password" %}</button>
        </div>
    {% endif %}
{% endblock form_content %}
