{% extends "paperless-ngx/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Paperless-ngx reset password complete" %}
{% endblock head_title %}

{% block form_top_content %}
    <h4>{% translate "Password reset complete." %}</h4>
{% endblock form_top_content %}

{% block form_content %}
    {% url 'account_login' as login_url %}
    <p>{% blocktranslate %}Your new password has been set. You can now <a href="{{ login_url }}">log in</a>{% endblocktranslate %}.</p>
{% endblock form_content %}
