:host {
  position: fixed;
  top: 0;
  right: calc(50% - (var(--pngx-toast-max-width) / 2));
  margin: 0.3em;
  z-index: 1200;
}

.toast:not(.show) {
  display: block; // this corrects an ng-bootstrap bug that prevented animations
}
