.version-item {
  .check {
    width: 1rem;
    height: 100%;
  }

  > .version-link {
    min-width: 300px;

    .flex-column {
      width: 170px;
    }

    .input-group .input-group-text, .input-group input {
      width: 140px;
    }
  }
}
