
<app-page-header title="Dashboard">
  <button type="button" class="btn btn-sm btn-outline-secondary">
    Show Documents with Tag
  </button>
</app-page-header>

<p>This space for rent...</p>

<div class='row'>
  <div class="col">
    <h4>Recent Documents</h4>
    <p>Recent docs</p>
  </div>
</div>
<div class='row'>
  <div class="col">
    <h4>Documents with tag <span class="badge badge-danger">TODO</span></h4>
    <p>...</p>
  </div>
</div>
<div class='row'>
  <div class="col-4">
    <h4>Statistics</h4>
  </div>
  <div class="col-8">
    <h4>Upload new Document</h4>
  </div>
</div>
