
<app-page-header title="Dashboard">
</app-page-header>

<p>... This space for rent</p>
<p>This page will provide more information in the future, such as access to recently scanned documents, etc.</p>

<div class='row'>
  <div class="col-lg">
    <h4>Statistics</h4>
    <p>None yet.</p>
  </div>
  <div class="col-lg">
    <h4>Upload new Document</h4>
    <form>
      <ngx-file-drop
        dropZoneLabel="Drop documents here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        dropZoneClassName="bg-light mt-4 card">

      </ngx-file-drop>
    </form>
  </div>
</div>
