@if (tag) {
  @if (showParents && tag.parent) {
    <pngx-tag [tagID]="tag.parent" [clickable]="clickable" [linkTitle]="linkTitle"></pngx-tag>
      &nbsp;&gt;&nbsp;
  }
  @if (!clickable) {
    <span class="badge" [style.background]="tag.color" [style.color]="tag.text_color">{{tag.name}}</span>
  }
  @if (clickable) {
    <a [title]="linkTitle" class="badge" [style.background]="tag.color" [style.color]="tag.text_color">{{tag.name}}</a>
  }
} @else if (loading) {
  <span class="placeholder-glow">
    <span class="placeholder badge private">
      <span class="text-dark">Loading...</span>
    </span>
  </span>
} @else {
  @if (!clickable) {
    <span class="badge private" i18n>Private</span>
  }
  @if (clickable) {
    <a [title]="linkTitle" class="badge private" i18n>Private</a>
  }
}
