a {
    cursor: pointer;
    white-space: normal;
    word-break: break-word;
    text-align: end;
}

.private {
    background-color: #000000;
    color: #ffffff;
    opacity: .5;
    font-style: italic;
}
