<div class="btn-group mr-lg-2" role="group" aria-label="Select">
  <button class="btn btn-sm btn-outline-primary" (click)="this.selectPage.next()">Select page</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.selectAll.next()">Select all</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.selectNone.next()">Select none</button>
</div>
<div class="btn-group mr-lg-2" role="group" aria-label="Actions">
  <button class="btn btn-sm btn-outline-primary" (click)="this.setCorrespondent.next()">Set correspondent</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.removeCorrespondent.next()">Remove correspondent</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.setDocumentType.next()">Set document type</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.removeDocumentType.next()">Remove document type</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.addTag.next()">Add tag</button>
  <button class="btn btn-sm btn-outline-primary" (click)="this.removeTag.next()">Remove tag</button>
</div>
<div class="btn-group mr-lg-2" role="group" aria-label="Delete">
  <button class="btn btn-sm btn-outline-primary" (click)="this.delete.next()">Delete</button>
</div>
