@import "/src/theme";

.result-content {
  overflow-wrap: anywhere;
}

.doc-img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  position: absolute;
  mix-blend-mode: multiply;
}

.search-score-bar {
  width: 100px;
  height: 5px;
  margin-top: 1px;
}

.document-card-check {
  display: none
}

.document-card:hover .document-card-check {
  display: block;
}

.card-selected {
  border-color: $primary;
}

.doc-img-background-selected {
  background-color: $primaryFaded;
}
