<app-widget-frame title="Statistics" [loading]="loading" i18n-title>
  <ng-container content>
    <div class="list-group border-light">
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" title="Go to inbox" i18n-title href="javascript:void()" *ngIf="statistics?.documents_inbox !== null" (click)="goToInbox()">
        <ng-container i18n>Documents in inbox</ng-container>:
        <span class="badge rounded-pill" [class.bg-primary]="statistics?.documents_inbox > 0" [class.bg-muted]="statistics?.documents_inbox === 0">{{statistics?.documents_inbox}}</span>
      </a>
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" title="Go to documents" i18n-title routerLink="/documents/">
        <ng-container i18n>Total documents</ng-container>:
        <span class="badge bg-primary rounded-pill">{{statistics?.documents_total}}</span>
      </a>
      <div class="list-group-item d-flex justify-content-between align-items-center" routerLink="/documents/">
        <ng-container i18n>Total characters</ng-container>:
        <span class="badge bg-secondary text-light rounded-pill">{{statistics?.character_count | number}}</span>
      </div>

      <div class="list-group-item widget-container">
        <div class="file-type-bar">
          <ng-container
            *ngFor="
              let fileType of fileTypeDataArray;
              let isFirst = first;
              let isLast = last
            "
          >
            <div
              class="file-type"
              [style.width.%]="fileType.percentage"
              [style.backgroundColor]="fileType.color"
              [ngClass]="{ 'rounded-left': isFirst, 'rounded-right': isLast }"
            ></div>
          </ng-container>
        </div>
        <ng-container *ngFor="let fileType of fileTypeDataArray">
          <div class="file-type-label">
            <div
              class="file-type-color"
              [style.backgroundColor]="fileType.color"
            ></div>
            <span>{{ fileType.name }} ({{ fileType.percentage }}%)</span>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</app-widget-frame>
