<div class="card shadow-sm bg-light" cdkDrag [cdkDragDisabled]="!draggable" cdkDragPreviewContainer="parent">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div *ngIf="draggable" class="ms-n2 me-1" cdkDragHandle>
          <svg class="sidebaricon text-muted" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#grip-vertical"/>
          </svg>
        </div>
        <h6 class="card-title mb-0">{{title}}</h6>
      </div>
      <ng-container *ngIf="loading">
        <div class="spinner-border spinner-border-sm fw-normal ms-2 me-auto" role="status"></div>
        <div class="visually-hidden" i18n>Loading...</div>
      </ng-container>
      <ng-content select ="[header-buttons]"></ng-content>
    </div>

  </div>
  <div class="card-body text-dark">
    <ng-content select ="[content]"></ng-content>
  </div>
</div>
