<div class="folder-container">
    <div class="sub-folder-container">

    </div>
    <div class="folder-left" id="folderLeft">
        <div class="folder-left-1">
            <div class="folder-left-search">
                <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input placeholder="Tìm Kiếm" class="serch" type="text">
            </div>
        </div>
        <div id="folders-container" class="folder">
            <!-- Folders and Documents will be added dynamically here -->
        </div>  
        <div id="documents-container" class="documents">
        </div>        
        <div class="resize-handle"></div>
    </div>
    <div class="folder-right">
        <div class="folder-search">
            <div class="folder-right-tim"></div>
            <div class="folder-right-search">
                <button> <i class="fa-solid fa-magnifying-glass"></i>   </button>
                <input type="text">
            </div>
        </div>
        <div class="folder-right-conten">
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Data modified</td>
                        <td>Type</td>
                        <td>Size</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="fa-solid fa-folder"></i>
                            <p>Folder 1</p>
                        </td>
                        <td>11/10/2002</td>
                        <td>
                            <p>File Folder</p>
                        </td>
                        <td>
                            <p>2 KB</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-file"></i>
                            <p>Document</p>
                        </td>
                        <td>11/10/2002</td>
                        <td>
                            <p>txt</p>
                        </td>
                        <td>
                            <p>2 KB</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>