::ng-deep app-document-list .popover {
  max-width: 40rem;

  .preview {
    min-width: 30rem;
    min-height: 18rem;
    max-height: 35rem;
    overflow-y: scroll;
  }

  .spinner-border {
    position: absolute;
    top: 4rem;
    left: calc(50% - 0.5rem);
    z-index: 0;
  }
}

 ::ng-deep .popover-hidden .popover {
  opacity: 0;
  pointer-events: none;
}
