<div class="d-sm-flex flex-wrap p-2 align-items-center justify-content-center" style="height: 75vh;">
    <div class="p-4 pt-0">
      <h1 style="font-size: 10rem;" class="fw-bold">404</h1>
    </div>
    <div class="p-4 pt-0">
      <h1 class="display-6" i18n>Not Found</h1>
      <p>
        <a class="btn btn-primary" routerLink="/dashboard">
          <i-bs width="1.2em" height="1.2em" name="house"></i-bs>&nbsp;<ng-container i18n>Go to Dashboard</ng-container>
        </a>
      </p>
    </div>
    <pngx-logo extra_classes="p-3 position-absolute bottom-0 start-50 translate-middle"></pngx-logo>
  </div>
