.btn.text-danger {
    &:hover, &:focus {
        color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    }
}

.accordion-button {
    font-size: 1rem;
}

:host ::ng-deep .filters .paperless-input-select.mb-3 {
    margin-bottom: 0 !important;
}

.ms-n3 {
    margin-left: -1rem !important;
}
