  <div class="btn-group" ngbDropdown role="group" (openChange)="dropdownOpenChange($event)">
  <button class="btn btn-outline-primary btn-sm" id="dropdown{{title}}" ngbDropdownToggle>{{title}}</button>
  <div class="dropdown-menu quick-filter shadow" ngbDropdownMenu attr.aria-labelledby="dropdown{{title}}">
    <div class="list-group list-group-flush">
      <input class="list-group-item form-control form-control-sm" type="text" [(ngModel)]="filterText" placeholder="Filter {{title}}" (keyup.enter)="listFilterEnter()" #listFilterTextInput>
      <ng-container *ngIf="(items$ | async)?.results as items">
        <ng-container *ngFor="let item of items | filter: filterText; let i = index">
          <app-filter-dropdown-button [item]="item" [selected]="isItemSelected(item)" (toggle)="toggleItem($event)"></app-filter-dropdown-button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
