{% extends "paperless-ngx/base.html" %}
{% load i18n allauth %}

{% block head_title %}
    {% trans "Paperless-ngx social account sign in" %}
{% endblock head_title %}

{% block form_content %}
    <p>
        {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
    </p>
    <div class="d-grid mt-3">
        <button class="btn btn-lg btn-primary" type="submit">{% translate "Continue" %}</button>
    </div>

    {% if REDIRECT_LOGIN_TO_SSO %}
        <script type="text/javascript">
            const form = document.getElementById('form-account');
            if (form) {
                form.submit();
            }
        </script>
    {% endif %}
{% endblock form_content %}
