.custom-fields-dropdown {
    min-width: 380px;

    // correct position on mobile
    @media (max-width: 575.98px) {
        &.show {
            margin-left: -245px !important;
        }
    }
}

::ng-deep .custom-fields-dropdown .ng-select .ng-select-container .ng-value-container .ng-placeholder,
::ng-deep .custom-fields-dropdown .ng-select .ng-option,
::ng-deep .custom-fields-dropdown .ng-select .ng-select-container .ng-value-container .ng-value {
    font-size: 0.875rem;
}

::ng-deep .custom-fields-dropdown .paperless-input-select .ng-select .ng-select-container .ng-value-container .ng-input {
    top: 4px;
}
