table {
  overflow-wrap: anywhere;
  table-layout: fixed;
}

th:first-child {
  width: 25%;
  @media (min-width: 768px) {
    width: 15%;
  }
}

tbody pngx-tag {
  cursor: pointer;
}

tr .btn-group {
  margin-right: 2px;
  box-shadow: -6px 0px 4px -1px rgba(var(--bs-body-bg-rgb), .5);
  opacity: 0;
  pointer-events: none;
}

tr:hover .btn-group {
  opacity: 1;
  pointer-events: all;
}

td.py-3 {
  padding-top: 0.75em !important;
  padding-bottom: 0.75em !important;
}
