<app-widget-frame title="Upload new documents">

  <form>
    <ngx-file-drop 
      dropZoneLabel="Drop documents here or" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
      dropZoneClassName="bg-light card"
      multiple="true"
      contentClassName="justify-content-center d-flex align-items-center p-5"
      [showBrowseBtn]=true
      browseBtnClassName="btn btn-sm btn-outline-primary ml-2">

    </ngx-file-drop>
  </form>
</app-widget-frame>