<ngb-toast
    [autohide]="autohide"
    [delay]="notification.delay"
    [class]="notification.classname"
    [class.mb-2]="true"
    (shown)="onShown(notification)"
    (hidden)="hidden.emit(notification)">
        @if (autohide) {
            <ngb-progressbar class="position-absolute h-100 w-100 top-90 start-0 bottom-0 end-0 pe-none" type="dark" [max]="notification.delay" [value]="notification.delayRemaining"></ngb-progressbar>
            <span class="visually-hidden">{{ notification.delayRemaining / 1000 | number: '1.0-0' }} seconds</span>
        }
        <div class="d-flex align-items-top">
        @if (!notification.error) {
            <i-bs width="0.9em" height="0.9em" name="info-circle"></i-bs>
        }
        @if (notification.error) {
            <i-bs width="0.9em" height="0.9em" name="exclamation-triangle"></i-bs>
        }
        <div>
            <p class="ms-2 mb-0">{{notification.content}}</p>
            @if (notification.error) {
            <details class="ms-2">
                <div class="mt-2 ms-n4 me-n2 small">
                @if (isDetailedError(notification.error)) {
                    <dl class="row mb-0">
                    <dt class="col-sm-3 fw-normal text-end">URL</dt>
                    <dd class="col-sm-9">{{ notification.error.url }}</dd>
                    <dt class="col-sm-3 fw-normal text-end" i18n>Status</dt>
                    <dd class="col-sm-9">{{ notification.error.status }} <em>{{ notification.error.statusText }}</em></dd>
                    <dt class="col-sm-3 fw-normal text-end" i18n>Error</dt>
                    <dd class="col-sm-9">{{ getErrorText(notification.error) }}</dd>
                    </dl>
                }
                <div class="row">
                    <div class="col offset-sm-3">
                    <button class="btn btn-sm btn-outline-secondary" (click)="copyError(notification.error)">
                        @if (!copied) {
                        <i-bs name="clipboard"></i-bs>&nbsp;
                        }
                        @if (copied) {
                        <i-bs name="clipboard-check"></i-bs>&nbsp;
                        }
                        <ng-container i18n>Copy Raw Error</ng-container>
                    </button>
                    </div>
                </div>
                </div>
            </details>
            }
            @if (notification.action) {
            <p class="mb-0 mt-2"><button class="btn btn-sm btn-outline-secondary" (click)="close.emit(notification); notification.action()">{{notification.actionName}}</button></p>
            }
        </div>
        <button type="button" class="btn-close ms-auto flex-shrink-0" data-bs-dismiss="notification" aria-label="Close" (click)="close.emit(notification);"></button>
    </div>
</ngb-toast>
