<div class="mb-3">
  @if (title) {
    <label [for]="inputId">{{title}}</label>
  }

  <div class="input-group" [class.is-invalid]="error">
    <span class="input-group-text" [style.background-color]="value">&nbsp;&nbsp;&nbsp;</span>

    <ng-template #popContent>
      <div style="min-width: 200px;" class="pb-3">
        <color-slider [color]="value" (onChangeComplete)="colorChanged($event.color.hex)"></color-slider>
      </div>

    </ng-template>

    <input #inputField class="form-control" [class.is-invalid]="error" [id]="inputId" [(ngModel)]="value" (change)="onChange(value)" [autoClose]="'outside'" [ngbPopover]="popContent" placement="bottom" popoverClass="shadow">

    <button class="btn btn-outline-secondary" type="button" (click)="randomize()">
      <i-bs name="dice5"></i-bs>
    </button>

  </div>
  @if (hint) {
    <small class="form-text text-muted">{{hint}}</small>
  }
  <div class="invalid-feedback">
    {{error}}
  </div>
</div>
