
.folder-container {
    max-width: 200%;
    height: 100%;
    display: flex;
    overflow: hidden;
    min-width: auto;
}
.folder-container .folder-left {
    width: 20%;
    min-width: 100px;
    height: 100vh;
    position: relative;
    overflow: scroll; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; 
    border-right: 1px solid black;
    overflow-x: auto;
    overflow-y: auto;
}
.ten-folder{
    cursor: pointer;
}
.setting{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}
.setting .fa-solid{
    font-size: 20px;
}
.hienne{
    margin-left: 10px;
}

.form-inline ,.d-flex, .align-items-center{
    width: 100%;
}
.resize-handle {
    background-color: #f0f0f0;
    cursor: ew-resize; 
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
}
.folder-container .folder-right {
    max-width: 90%;
    min-width: 80%;
    height: 200%;
    overflow: scroll; /* Cho phép cuộn */
    -ms-overflow-style: none;  /* IE và Edge */
    scrollbar-width: none;
}
.folder-container .folder-right::-webkit-scrollbar{
    display: none;
}
.folder-left-1 {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.folder-left-search {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 0 0 3px 0 gold;
}
.folder-left-search .serch {
    width: 90%;
    height: 100%;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.folder-left-search .serch:focus {
    outline: none;
}
.serch:focus + .folder-left-search {
    border: 5px solid gold; 
}
.folder-left-search .search {
    width: 10%;
    height: 100%;
    cursor: pointer;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.folder{
    width: 95%;
    height: auto;
}
#folders-container{
    margin-top: 20px;
}
.documents {
    width: 95%;
    height: auto;
}
.folder-cha{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
}
.folder-cha P{
    color: black;
    text-align: center;
    position: relative;
    margin-bottom: 0;
}
.folder-cha .fa-solid{
    color: gold;
    padding: 0 5px;
}
.folder-cha .fa-chevron-right{
    color: #f0f0f0;
}
.folder-cha .fa-folder{
    color: goldenrod;
}
.folder-con{
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;

    text-align: left;
}
.folder-con P{
    color: #f0f0f0;
}
.foder{
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
}
.folder-con .fa-solid{
    color: gold;
    padding: 0 5px;
}
.folder-cha .fa-chevron-right{
    color: black;
}
.folder-con .fa-chevron-right{
    color: #f0f0f0;
}
.folder-con .fa-folder{
    color: goldenrod;
}
#folders-container{
    margin-left: -10%;
}
.docoment{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.docoment:hover{
    background: #dee2e6;
}
.docomenta,
.document-container{
    margin-left: 7%;
}
 p{
    color: black;
    padding: 0;
    margin-bottom: 0 !important;
}
.folder {
    position: relative; 
    overflow: hidden; 
    padding-left: 20px; 
}

.folder .ke {
    background: #f0f0f0;
    width: 1px;
    height: 180%;
    z-index: 10000;
    position: absolute; 
    left: 8.5%; 
    top: 60%;
    display: none;
    transform: translateY(-15%);
}
.folder-search{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.folder-right-tim{
    width: 60%;
    height: 40px;
    background: rgba(128, 128, 128, 0.534);
    border-radius: 5px;

    margin-left: 10px;
}
.folder-right-search{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    margin-left: 50px;
    display: flex;
}
.folder-right-search button{
    cursor: pointer;
    padding: 11px 15px;
    border-right: none;
}
.folder-right-search input{
    border-left: none;
    width: 100%;
}
.folder-right-conten{
    width: 100%;
    height: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    row-gap: 1 row;
    margin-left: 3%;
}
table td{
    color: black;
}
table thead {
    background-color: #007bff25;
    color: #fff;
}

table thead tr {
    border-bottom: 1px solid #dee2e6;
}

table thead td {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

table tbody tr {
    border-bottom: 1px solid #dee2e6;
}


table tbody tr:hover {
    background: #007bff25;
}

table tbody td {
    padding: 12px 15px;
    text-align: left;
    border: none;
}
table tbody tr td .fa-folder{
    color: gold;
}
table tbody tr td .fa-file{
    color: rgb(79, 58, 16);
}
tbody td p{
    color: black;
}

table tbody td i {
    margin-right: 8px;
}
form{
    display: flex;
    flex-direction: column;
}
.document,.folder{
    cursor: pointer;
}
.document:hover{
    background: rgba(87, 87, 205, 0.426);
}
.selected {
    background-color: #007bff25;
}
.folder tr th{
    display: flex;
}
.document tr th{
    display: flex;
}
table tbody td p {
    display: inline;
    margin: 0;
}
.folder-cha:hover{
    background: #007bff25;
}
.folder-right-tim {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid black;
    margin-left: 5%;
}
.logo-folder,
.ten-folder{
    display: flex;
    align-items: center;

}
.folder-right-tim .fa-folder{
    color: gold;
    margin-left: 2%;
}
.folder-right-tim .fa-chevron-right{
    padding: 0 3px;
    color: gray;
}
.logo-folder{
    margin-left: 2%;
}
.ten-folder p{
    color: black;
    margin-bottom: 0;

}
.sub-folder-container{
    width: 40%;
    height: 50px;
    background: darkcyan;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 30%;
}
.sub-folder-container form{
    display: flex;
    flex-direction: column;
}
.sub-folder-container form input{
    height: 40px;
    padding: 0 10px;
    border: none;
    border: 2px solid salmon;
}
.sub-folder-container form input:focus {
    border-color: dodgerblue;
    outline: none; 
}
.addfolder{
    position: absolute;
    box-shadow: 0 0 1px 1px black;
    width: 200px;
    height: auto;
    z-index: 10000;
    border: none;
    display: none;
    margin-left: 0px;
}
#contextMenu{
    display: none;
}
.addfolder ul{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.addfolder ul li{
    padding: 5px 5px;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 0 0 1px 1px black;
}
.addfolder ul li a{
    text-decoration: none;
    color: greenyellow;
}
.addfolder ul li:hover{
    background: burlywood;
}
.folder-right{
    background-color: #fff;
}
.folder-right{
    height: 100vh !important;
}
.document-container{
    padding: 0;
    display: flex;
}
.document-container .fa-file{
    padding: 5px 5px 0 5px;
    color: aquamarine;
    margin-left: 5%;
}
#folders-container{
    padding: 0;
}
.children-container .document-container{
    padding: 0 0 0 20px;
}