<form [formGroup]="objectForm" (ngSubmit)="submit()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ getTitle() }}</h4>
    <button
      type="button"
      [disabled]="!closeEnabled"
      class="btn-close"
      aria-label="Close"
      (click)="cancel()"
    ></button>
  </div>

  <div class="modal-body">
    <ngx-file-drop
      dropZoneClassName="main-dropzone"
      contentClassName="main-content"
      (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver()"
      (onFileLeave)="fileLeave()"
    >
      <ng-template ngx-file-drop-content-tmp>
        <div
          class="border w-full d-flex justify-content-center align-items-center mb-2"
          style="height: 200px"
        >
          <h4 i18n>Drop large file here</h4>
        </div>
      </ng-template>
    </ngx-file-drop>

    <div class="w-full mb-2">
      <app-input-text
        i18n-title
        title='OCR pages separated by comma (e.g. "1,2,3,4")'
        formControlName="ocr_pages"
        [error]="error?.ocr_pages"
      ></app-input-text>
    </div>

    <div *appIfOwner="object">
      <app-permissions-form
        [users]="users"
        accordion="true"
        formControlName="permissions_form"
      ></app-permissions-form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="cancel()"
      i18n
      [disabled]="networkActive"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      i18n
      [disabled]="networkActive"
    >
      Upload
    </button>
  </div>
</form>
