<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()">
  </button>
</div>
<div class="modal-body">
  @if (message) {
    <p class="mb-3" [innerHTML]="message"></p>
  }
  <div class="btn-group mb-3" role="group">
    <input
      type="radio"
      class="btn-check"
      name="passwordRemoveMode"
      id="removeReplace"
      [(ngModel)]="updateDocument"
      [value]="true"
      (ngModelChange)="onUpdateDocumentChange($event)"
    />
    <label class="btn btn-outline-primary btn-sm" for="removeReplace">
      <i-bs name="pencil"></i-bs>
      <span class="ms-2" i18n>Replace current document</span>
    </label>
    <input
      type="radio"
      class="btn-check"
      name="passwordRemoveMode"
      id="removeCreate"
      [(ngModel)]="updateDocument"
      [value]="false"
      (ngModelChange)="onUpdateDocumentChange($event)"
    />
    <label class="btn btn-outline-primary btn-sm" for="removeCreate">
      <i-bs name="plus"></i-bs>
      <span class="ms-2" i18n>Create new document</span>
    </label>
  </div>
  @if (!updateDocument) {
    <div class="d-flex flex-column flex-md-row w-100 gap-3 align-items-center">
      <div class="form-group d-flex">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="copyMetaRemove" [(ngModel)]="includeMetadata" />
          <label class="form-check-label" for="copyMetaRemove" i18n> Copy metadata
          </label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="deleteOriginalRemove" [(ngModel)]="deleteOriginal" />
          <label class="form-check-label" for="deleteOriginalRemove" i18n> Delete original</label>
        </div>
      </div>
    </div>
  }
</div>
<div class="modal-footer flex-nowrap gap-2">
  <button
    type="button"
    class="btn"
    [class]="cancelBtnClass"
    (click)="cancel()"
    [disabled]="!buttonsEnabled"
  >
    <span class="d-inline-block" style="padding-bottom: 1px;">
      {{cancelBtnCaption}}
    </span>
  </button>
  <button
    type="button"
    class="btn"
    [class]="btnClass"
    (click)="confirm()"
    [disabled]="!confirmButtonEnabled || !buttonsEnabled"
  >
    {{btnCaption}}
  </button>
</div>
