.date-dropdown {
  --bs-dropdown-min-width: 22rem;
  white-space: nowrap;

  .btn-link {
    line-height: 1;
  }
}

.selected-icon {
  min-width: 1em;
  min-height: 1em;
}

.select-item .selected-icon {
  line-height: 2em;
}

.input-group-sm {
  .form-control {
    font-size: 0.875rem;
  }
}

.focus-variants {
  .variant-focused {
    display: none;
  }

  &:hover, &:focus {
    .variant-unfocused {
      display: none;
    }
    .variant-focused {
      display: block;
    }
  }
}

.btn-group-xs {
  > .btn {
    border-radius: 0.15rem;
  }
}
