.pdf-viewer-container {
  background-color: gray;
  height: 550px;

  pdf-viewer {
    width: 100%;
    height: 100%;
  }
}

.mw-60 {
  max-width: 60px;
}

div.position-absolute:has(.form-check-input:checked) {
  background-color: rgba(var(--bs-dark-rgb), 0.4);
}

.form-check-input {
  &:checked {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), var(--pngx-focus-alpha));
    border-color: var(--bs-danger);
  }
}
