<form [formGroup]="objectForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{getTitle()}}</h4>
    <button type="button" [disabled]="!closeEnabled" class="btn-close" aria-label="Close" (click)="cancel()">
    </button>
  </div>
  <div class="modal-body">

    <app-input-text i18n-title title="Name" formControlName="name" [error]="error?.name"></app-input-text>
    <app-input-select i18n-title title="Matching algorithm" [items]="getMatchingAlgorithms()" formControlName="matching_algorithm"></app-input-select>
    <app-input-text *ngIf="patternRequired" i18n-title title="Matching pattern" formControlName="match" [error]="error?.match"></app-input-text>
    <app-input-check *ngIf="patternRequired" i18n-title title="Case insensitive" formControlName="is_insensitive" novalidate></app-input-check>

    <div *ifOwner="object">
      <h5 i18n>Permissions</h5>
      <div formGroupName="set_permissions">
        <h6 i18n>View</h6>
        <div formGroupName="view">
          <app-permissions-user type="view" formControlName="users"></app-permissions-user>
          <app-permissions-group type="view" formControlName="groups"></app-permissions-group>
        </div>
        <h6 i18n>Edit</h6>
        <div formGroupName="change">
          <app-permissions-user type="change" formControlName="users"></app-permissions-user>
          <app-permissions-group type="change" formControlName="groups"></app-permissions-group>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()" i18n [disabled]="networkActive">Cancel</button>
    <button type="submit" class="btn btn-primary" i18n [disabled]="networkActive">Save</button>
  </div>
</form>
