<!--<pngx-widget-frame title="Folder Tree" [loading]="loading" i18n-title>-->
<!--  <ng-container content>-->
<!--    <div style="position: relative">-->
<!--      <section class="custom-scroll">-->
        <table class="">

          <tbody>
            @if (isLoading) {
              <tr>
                <td colspan="5">
                  <div class="spinner-border spinner-border-sm me-2" role="status"></div>
                  <ng-container i18n>Loading...</ng-container>
                </td>
              </tr>
            }
            @for (object of data; track object) {
              <tr>
                <td class="custom-space"></td>
                @if (object.type == 'folder') {
                  <td scope="row" class="d-md-table-cell custom-width-content">
                    <i-bs class="me-1 custom-cursor" (click)="getNode(object,$event);" name="chevronRight" width="1.5rem" height="1.5rem"></i-bs>
                 <span class="text-primary custom-cursor" (click)="this.goToNode.emit(object); $event.stopPropagation()">
                    <i-bs class="me-1 "  name="folder-fill" width="1.5rem" height="1.5rem"></i-bs>
                   {{ object.name }}
                  </span>

                  </td>
                } @else {
                  <td scope="row" class="d-md-table-cell custom-width-content">
                  <span
                    class="text-primary custom-cursor"
                    [routerLink]="['/documents', object.document_matching]"
                    (click)="$event.stopPropagation()">

                    <i-bs class="me-1 ms-4 ps-1"  name="file-earmark-pdf" width="1.5rem"
                          height="1.5rem"></i-bs>
                    {{ object.name }}
                  </span>

                  </td>
                }

              </tr>
            }
            @if (data.length < totalElement) {
              <tr>
                <td class="custom-space"></td>
                <td scope="row" class="d-md-table-cell custom-width-content">
                   <span class="text-primary" i18n (click)="viewMore()">
                     <i-bs class="me-1 custom-cursor" name="chevron-double-down" width="1.5rem" height="1.5rem"></i-bs>
                    </span>
                </td>
              </tr>
            }
          </tbody>
        </table>

<!--      </section>-->

<!--    </div>-->
<!--  </ng-container>-->

<!--</pngx-widget-frame>-->
