<div class="form-group paperless-input-select">
  <label [for]="inputId">{{title}}</label>
  <div [class.input-group]="showPlusButton()">
    <ng-select name="inputId" [(ngModel)]="value"
      [disabled]="disabled"
      [style.color]="textColor"
      [style.background]="backgroundColor"
      (change)="onChange(value)"
      (blur)="onTouched()">
      <ng-option *ngFor="let i of items" [value]="i.id">{{i.name}}</ng-option>
    </ng-select>

    <div *ngIf="showPlusButton()" class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="createNew.emit()">
        <svg class="buttonicon" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#plus" />
        </svg>
      </button>
    </div>
  </div>
  <small *ngIf="hint" class="form-text text-muted">{{hint}}</small>
</div>
