// styles for ng-select child are in styles.scss
.paperless-input-select.disabled {
    .input-group {
        cursor: not-allowed;
    }

    ::ng-deep ng-select {
        pointer-events: none;

        .ng-select-container {
            background-color: var(--pngx-bg-alt) !important;
        }
    }
}

::ng-deep .private .ng-value-container {
    font-style: italic;
    opacity: .75;
}
