<ngb-alert type="primary" [dismissible]="false">
  <!-- [dismissible]="isFinished(status)" (closed)="dismiss(status)" -->
  <h4 class="alert-heading" i18n>Paperless-ngx is running!</h4>
  <p i18n>You're ready to start uploading documents! Feel free to explore the various features or start a quick tour using the button below.</p>
  <p i18n>More detail on how to use and configure paperless is always available in the <a href="https://paperless-ngx.readthedocs.io" target="_blank">documentation</a>.</p>
  <hr>
  <div class="btn-toolbar" role="toolbar" aria-label="Controls">
    <button class="btn btn-primary ms-auto" (click)="tourService.start()"><ng-container i18n>Start Tour</ng-container> &rarr;</button>
  </div>
</ngb-alert>
