<div class="form-group">
  <label [for]="inputId">{{title}}</label>
  <div class="input-group" [class.is-invalid]="error">
    <input type="number" class="form-control" [id]="inputId" [(ngModel)]="value" (change)="onChange(value)" [class.is-invalid]="error">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="nextAsn()" [disabled]="value">+1</button>
    </div>
  </div>
  <div class="invalid-feedback">
    {{error}}
  </div>
  <small *ngIf="hint" class="form-text text-muted">{{hint}}</small>

</div>
