@import "/src/theme";

.doc-img {
  object-fit: cover;
  object-position: top;
  height: 200px;
  mix-blend-mode: multiply;
}

.document-card-check {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  .custom-control {
    margin-left: 4px;
    margin-right: -3px;
  }
}

.document-card:hover .document-card-check {
  display: block;
}

.card-selected {
  border-color: $primary;

  .document-card-check {
    display: block;
  }
}

.doc-img-background-selected {
  background-color: $primaryFaded;
}

::ng-deep .popover {
  max-width: 40rem;

  .preview {
    min-width: 30rem;
    min-height: 20rem;
    max-height: 35rem;
    overflow-y: scroll;
  }

  .spinner-border {
    position: absolute;
    top: 4rem;
    left: calc(50% - 0.5rem);
    z-index: 0;
  }
}

.popover-hidden ::ng-deep .popover {
  opacity: 0;
  pointer-events: none;
}
