.global-dropzone-overlay {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    background-color: hsla(var(--pngx-primary), var(--pngx-primary-lightness), .8);
    z-index: 1200;

    h2 {
        color: var(--pngx-primary-text-contrast)
    }

    &.active {
        opacity: 1;
    }
}
