:host {
  position: relative;
  z-index: 1200;
}

.toast:not(.show) {
  display: block; // this corrects an ng-bootstrap bug that prevented animations
}

::ng-deep .toast-body {
  position: relative;
}

::ng-deep .toast.error {
  border-color: hsla(350, 79%, 40%, 0.4); // bg-danger
}

::ng-deep .toast.error .toast-body {
  background-color: hsla(350, 79%, 40%, 0.8); // bg-danger
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.toast .progress {
  background-color: var(--pngx-primary);
  opacity: .07;
}

.alert-heading {
  font-size: 80%;
  font-weight: bold;
}

.alerts-hidden {
  .btn {
    line-height: 1;
  }
}

.btn-open {
  line-height: 1;

  i-bs {
    margin-top: -1px;
  }
}

ngb-alert .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  mix-blend-mode: soft-light;
  pointer-events: none;
}

.consumer-status-card {
  background-color: rgba(var(--bs-body-bg-rgb), .95) !important;
}
