th.column-document,
td.field-document {
  text-align: center;
}

td a.tag {
  padding: 0 0.5em;
  color: #ffffff;
  border-radius: 0.2em;
  margin: 1px;
  display: inline-block;
}

#result_list th.column-note {
  text-align: right;
}
#result_list td.field-note {
  text-align: right;
}
#result_list td textarea {
  width: 90%;
  height: 5em;
}