// hide caret on mobile dropdown
.d-block.d-sm-none .dropdown-toggle::after {
    display: none;
}

tbody tr:last-child td {
    border-bottom: none !important;
}

.form-check {
    min-height: 0;
}
a {
  text-decoration: none;
}
$paperless-card-breakpoints: (
  // 0: 2, // xs is manual for slim-sidebar
  768px: 3, //md
  992px: 4, //lg
  1200px: 5, //xl
  1400px: 6, // xxl
  1600px: 7,
  1800px: 8,
  2000px: 9
);
.row-cols-paperless-cards {
    // xs, we dont want in .col-slim block
    > * {
      flex: 0 0 auto;
      width: calc(100% / 2);
    }

    @each $width, $n_cols in $paperless-card-breakpoints {
      @media(min-width: $width) {
        > * {
          flex: 0 0 auto;
          width: calc(100% / $n-cols);
        }
      }
    }
  }
.custom-cursor {
  cursor: pointer;
}

.rotate {
    transition: transform 0.3s ease; /* Hiệu ứng chuyển tiếp cho xoay */
    transform: rotate(180deg); /* Xoay 180 độ */
}
