[Unit]
Description=Paperless webserver

[Service]
User=paperless
Group=paperless
ExecStart=/home/paperless/project/virtualenv/bin/python /home/paperless/project/src/manage.py runserver --noreload 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
