[Unit]
Description=Paperless consumer

[Service]
EnvironmentFile=/etc/conf.d/paperless
User=paperless
Group=paperless
ExecStart=/home/paperless/project/virtualenv/bin/python /home/paperless/project/src/manage.py consume -v $PAPERLESS_CONSUMPTION_VERBOSITY

[Install]
WantedBy=multi-user.target
