<div class="form-group paperless-input-select paperless-input-tags">
  <label for="tags">Tags</label>

  <div class="input-group">
    <ng-select name="tags" [items]="tags" bindLabel="name" bindValue="id" [(ngModel)]="displayValue"
      [multiple]="true"
      [closeOnSelect]="false"
      [disabled]="disabled"
      (change)="ngSelectChange()">

      <ng-template ng-label-tmp let-item="item">
          <app-tag style="background-color: none;" [tag]="getTag(item.id)" (click)="removeTag(item.id)"></app-tag>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="selected-icon d-inline-block mr-1">
          <svg *ngIf="displayValue.includes(item.id)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
          </svg>
        </div>
        <app-tag class="mr-2" [tag]="getTag(item.id)"></app-tag>
      </ng-template>
    </ng-select>

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="createTag()">
        <svg class="buttonicon" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#plus" />
        </svg>
      </button>
    </div>
  </div>
  <small class="form-text text-muted" *ngIf="hint">{{hint}}</small>

</div>
