<pngx-page-header
  title="Attributes"
  i18n-title
  info="Manage tags, correspondents, document types, storage paths, and custom fields."
  i18n-info
  [subTitle]="activeTabLabel"
  [loading]="activeHeaderLoading"
  >
  @if (activeAttributeList) {
    <div ngbDropdown class="btn-group flex-fill d-sm-none">
      <button class="btn btn-sm btn-outline-primary" id="dropdownSelectMobile" ngbDropdownToggle>
        <i-bs name="text-indent-left"></i-bs>
        <div class="d-none d-sm-inline">&nbsp;<ng-container i18n>Select</ng-container></div>
        @if (activeAttributeList.selectedObjects.size > 0) {
          <pngx-clearable-badge [selected]="activeAttributeList.selectedObjects.size > 0" [number]="activeAttributeList.selectedObjects.size" (cleared)="activeAttributeList.selectNone()"></pngx-clearable-badge><span class="visually-hidden">selected</span>
        }
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownSelectMobile" class="shadow">
        <button ngbDropdownItem (click)="activeAttributeList.selectNone()" i18n>Select none</button>
        <button ngbDropdownItem (click)="activeAttributeList.selectPage(true)" i18n>Select page</button>
        <button ngbDropdownItem (click)="activeAttributeList.selectAll()" i18n>Select all</button>
      </div>
    </div>

    <div class="d-none d-sm-flex flex-fill me-3">
      <div class="input-group input-group-sm">
        <span class="input-group-text border-0" i18n>Select:</span>
      </div>
      <div class="btn-group btn-group-sm flex-nowrap">
        @if (activeAttributeList.selectedObjects.size > 0) {
          <button class="btn btn-sm btn-outline-secondary" (click)="activeAttributeList.selectNone()">
            <i-bs name="slash-circle"></i-bs>&nbsp;<ng-container i18n>None</ng-container>
          </button>
        }
        <button class="btn btn-sm btn-outline-primary" (click)="activeAttributeList.selectPage(true)">
          <i-bs name="file-earmark-check"></i-bs>&nbsp;<ng-container i18n>Page</ng-container>
        </button>
        <button class="btn btn-sm btn-outline-primary" (click)="activeAttributeList.selectAll()">
          <i-bs name="check-all"></i-bs>&nbsp;<ng-container i18n>All</ng-container>
        </button>
      </div>
    </div>

    <button type="button" class="btn btn-sm btn-outline-primary" (click)="activeAttributeList.setPermissions()"
      [disabled]="!activeAttributeList.userCanBulkEdit(PermissionAction.Change) || activeAttributeList.selectedObjects.size === 0">
      <i-bs name="person-fill-lock"></i-bs>&nbsp;<ng-container i18n>Permissions</ng-container>
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="activeAttributeList.delete()"
      [disabled]="!activeAttributeList.userCanBulkEdit(PermissionAction.Delete) || activeAttributeList.selectedObjects.size === 0">
      <i-bs name="trash"></i-bs>&nbsp;<ng-container i18n>Delete</ng-container>
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary ms-md-5" (click)="activeAttributeList.openCreateDialog()"
      *pngxIfPermissions="{ action: PermissionAction.Add, type: activeAttributeList.permissionType }">
      <i-bs name="plus-circle"></i-bs>&nbsp;<ng-container i18n>Create</ng-container>
    </button>
  } @else if (activeCustomFields) {
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="activeCustomFields.editField()"
      *pngxIfPermissions="{ action: PermissionAction.Add, type: PermissionType.CustomField }">
      <i-bs name="plus-circle"></i-bs>&nbsp;<ng-container i18n>Add Field</ng-container>
    </button>
  }
</pngx-page-header>

<ul ngbNav #nav="ngbNav" (navChange)="onNavChange($event)" [(activeId)]="activeNavID" class="nav-tabs">
  @for (section of visibleSections; track section.id) {
    <li [ngbNavItem]="section.id">
      <a ngbNavLink>
        <i-bs class="me-2" [name]="section.icon"></i-bs>{{ section.label }}
      </a>
      <ng-template ngbNavContent>
        <ng-container [ngComponentOutlet]="section.component"></ng-container>
      </ng-template>
    </li>
  }
</ul>

<div [ngbNavOutlet]="nav" class="border-start border-end border-bottom p-3 mb-3 shadow-sm"></div>
