@import "/src/theme";

.badge-corner {
  position: absolute;
  top: -8px;
  right: -8px;
}

.dropdown-menu {
  min-width: 250px;

  .items {
    max-height: 400px;
    overflow-y: auto;
  }

  button:disabled {
    opacity: 0.2;
  }
}

.btn-group-xs {
  > .btn {
    padding: 0.2rem 0.25rem;
    font-size: 0.675rem;
    line-height: 1.2;
    border-radius: 0.15rem;
  }

  > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn-group > label.disabled {
  filter: brightness(0.5);

  &.active {
    background-color: var(--ngx-primary-lighten-30);
  }
}

small > svg {
  margin-top: -2px;
}

.list-group-item-note {
  line-height: 1;

  small {
    font-size: 65%;
  }
}

.show .btn-outline-primary {
  color: #fff;
}