# Docker Compose file for running paperless testing with actual Gotenberg
# and Tika containers for a more end to end test of the Tika related functionality
# Can be used locally or by the CI to start the necessary containers with the
# correct networking for the tests
services:
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25
    hostname: gotenberg
    container_name: gotenberg
    network_mode: host
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
      - "--log-level=warn"
      - "--log-format=text"
  tika:
    image: docker.io/apache/tika:latest
    hostname: tika
    container_name: tika
    network_mode: host
    restart: unless-stopped
  greenmail:
    image: greenmail/standalone:2.1.8
    environment:
      # Enable IMAP, IMAPS, SMTP, SMTPS
      GREENMAIL_OPTS: >-
        -Dgreenmail.setup.test.all -Dgreenmail.users=test@localhost:test -Dgreenmail.users.login=test@localhost -Dgreenmail.verbose
    ports:
      - "3025:3025" # SMTP
      - "3143:3143" # IMAP
      - "3465:3465" # SMTPS
      - "3993:3993" # IMAPS
      - "3110:3110" # POP3
      - "3995:3995" # POP3S
    restart: unless-stopped
