# Docker Compose file for running paperless testing with actual gotenberg
# and Tika containers for a more end to end test of the Tika related functionality
# Can be used locally or by the CI to start the necessary containers with the
# correct networking for the tests

services:
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.7
    hostname: gotenberg
    container_name: gotenberg
    network_mode: host
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
      - "--log-level=warn"
      - "--log-format=text"
  tika:
    image: docker.io/apache/tika:latest
    hostname: tika
    container_name: tika
    network_mode: host
    restart: unless-stopped
