apiVersion: v1
kind: Secret
metadata:
  name: paless-secret
  labels:
    app: paless
type: Opaque
stringData:
  # IMPORTANT: Copy this file to paless-secret.yaml and replace with actual values
  # DO NOT commit paless-secret.yaml to version control
  db-password: "CHANGEME_BASE64_ENCODED_DB_PASSWORD"
  minio-root-user: "CHANGEME_BASE64_ENCODED_MINIO_ROOT_USER"
  minio-root-password: "CHANGEME_BASE64_ENCODED_MINIO_ROOT_PASSWORD"
