apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: paless-worker-hpa
  labels:
    app: paless
    component: worker
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: paless-worker
  minReplicas: 2
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
