// hide caret on mobile dropdown
.d-block.d-sm-none .dropdown-toggle::after {
    display: none;
}

.list-group-item .row {
    opacity: 0;
    transition: opacity .2s;
}

.list-group-item .reveal {
    opacity: 1;
}
