<div class="mb-3">
    <div class="row">
      <div class="d-flex align-items-center position-relative hidden-button-container" [class.col-md-3]="horizontal">
        <label class="form-label mb-md-0" [for]="inputId">{{title}}</label>
        <button type="button" *ngIf="removable" class="btn btn-sm btn-danger position-absolute left-0" (click)="removed.emit(this)">
          <svg class="sidebaricon" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#x"/>
          </svg>&nbsp;<ng-container i18n>Remove</ng-container>
        </button>
      </div>
      <div [class.col-md-9]="horizontal">
        <input #inputField type="url" class="form-control" [class.is-invalid]="error" placeholder="https://" [id]="inputId" [(ngModel)]="value" (change)="onChange(value)" [disabled]="disabled">
        <small *ngIf="hint" class="form-text text-muted" [innerHTML]="hint | safeHtml"></small>
        <div class="invalid-feedback">
          {{error}}
        </div>
      </div>
    </div>
  </div>
