<form class="row row-cols-sm-auto" i18n>
  <div class="col-12">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          name="datepicker"
          class="form-control"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          [autoClose]="'outside'"
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="2"
          [dayTemplate]="t"
          outsideDays="hidden"
          tabindex="-1"
        />

        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>

      </div>

    </div>
    <div class="input-group">
      <input
        #dpDateRange
        class="form-control custom-input"
        placeholder="yyyy-mm-dd to yyyy-mm-dd"
        name="dpDateRange"
        [value]="formatter.format(fromDate) + ' - ' + (toDate!=null?formatter.format(toDate):'')"
        (input)="updateDateRange(dpDateRange.value)"
        readonly

      />
      <div ngbDropdown class="">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
        <i-bs width="1.2em" height="1.2em" name="calendar3"></i-bs>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="setRange('today')">Today</button>
        <button ngbDropdownItem (click)="setRange('yesterday')">Yesterday</button>
        <button ngbDropdownItem (click)="setRange('last7days')">Last 7 days</button>
        <button ngbDropdownItem (click)="setRange('last30days')">Last 30 days</button>
        <button ngbDropdownItem (click)="setRange('thisMonth')">This month</button>
        <button ngbDropdownItem (click)="setRange('lastMonth')">Last month</button>
        <button ngbDropdownItem (click)="datepicker.toggle()">Custom</button>
      </div>
    </div>
    </div>

  </div>
</form>
