<form class="row row-cols-sm-auto" i18n>
<!--  <div class="col-12" [hidden]="customDateEnable" >-->
<!--    <pngx-input-date-custom i18n-title title=""  (dateSelection)="onDateSelection($event)"  ></pngx-input-date-custom>-->
<!--  </div>-->
  <div class="col-12 mt-1 mb-1" >
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          name="datepicker"
          class="form-control"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          [autoClose]="'outside'"
          (dateSelect)="onDateRangeSelection($event)"
          [displayMonths]="2"
          [dayTemplate]="t"
          [minDate]="minDate"
          [maxDate]="maxDate"
          outsideDays="hidden"
          [startDate]="fromDate!"
          tabindex="-1"
        />
        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
              {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="input-group">
      <input
        #dpFromDate
        class="form-control"
        [placeholder]="placeholder"
        name="dpFromDate"
        [value]="formatter.format(fromDate)"
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
      />
      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
        <i-bs width="1.2em" height="1.2em" name="calendar3"></i-bs>
      </button>
    </div>
  </div>
  <div class="col-12 mt-1 mb-1" >
    <div class="input-group">
      <input
        #dpToDate
        class="form-control"
        [placeholder]="placeholder"
        name="dpToDate"
        [value]="formatter.format(toDate)"
        (input)="toDate = validateInput(toDate, dpToDate.value)"
      />
      <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
        <i-bs width="1.2em" height="1.2em" name="calendar3"></i-bs>
      </button>
    </div>
  </div>

  <div class="col-12 d-flex flex-wrap gap-2 mt-1 mb-1">
    <button class="btn btn-sm btn-outline-primary mt-1" (click)="getThisWeek()">This week</button>
    <button class="btn btn-sm btn-outline-primary mt-1" (click)="getThisMonth()">This month</button>
    <button class="btn btn-sm btn-outline-primary mt-1" (click)="getThisYear()">This year</button>
  </div>
<!--  <div class="col-12" >-->
<!--  </div>-->
</form>
