<!doctype html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PaperlessUi</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="cookie_prefix" content="{{cookie_prefix}}">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{% static 'frontend/styles.css' %}"></head>
<body>
  <app-root>Loading...</app-root>
	<script src="{% static 'frontend/runtime.js' %}" defer></script>
	<script src="{% static 'frontend/polyfills.js' %}" defer></script>
	<script src="{% static 'frontend/main.js' %}" defer></script>
</body>
</html>
