h3 {
    min-height: calc(1.325rem + 0.9vw);
    flex-wrap: wrap;

    .badge {
        font-size: 0.65rem;
        line-height: 1;
    }
}

// Drop the subtitle onto its own and shrink it
@media (max-width: 767.98px) {
    h3 > .page-subtitle {
        flex: 0 0 100%;
        margin-top: 0 !important;
        font-size: .7rem;
        line-height: 1.3 !important;
    }
}

:host {
  display: block;
  margin-bottom: .35rem;
}

h3 > .h6 {
  color: var(--bs-secondary-color);
}

@media (min-width: 1200px) {
    h3 {
        min-height: 2.8rem;
    }
}
