h3 {
    min-height: calc(1.325rem + 0.9vw);

    .badge {
        font-size: 0.65rem;
        line-height: 1;
    }
}

:host {
  display: block;
  margin-bottom: .35rem;
}

h3 > .h6 {
  color: var(--bs-secondary-color);
}

@media (min-width: 1200px) {
    h3 {
        min-height: 2.8rem;
    }
}
