::ng-deep .ng-select-container .ng-value-container .ng-value {
    background-color: transparent !important;
    border-color: transparent;
}

.sidebaricon {
    cursor: pointer;
}

.badge {
    font-size: .75rem;
    // --bs-primary: var(--pngx-bg-alt);
    // color: var(--pngx-primary-text-contrast);
}
