<form [formGroup]="objectForm" (ngSubmit)="save()" autocomplete="off">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{getTitle()}}</h4>
    @if (object?.id) {
      <span class="badge bg-primary text-primary-text-contrast ms-2">ID: {{object.id}}</span>
    }
    <button type="button" [disabled]="!closeEnabled" class="btn-close" aria-label="Close" (click)="cancel()">
    </button>
  </div>
  <div class="modal-body">

    <pngx-input-text i18n-title title="Name" formControlName="name" [error]="error?.name" autocomplete="off"></pngx-input-text>

   <div *ngIf="getCheckCreate()">
<!--      <label i18n>Warehouse</label>-->
<!--      <select id="parentWarehouse" class="form-select" formControlName="parent_shefl" (change)="onWarehouseChange($event)">-->
<!--        <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{ warehouse.name }}</option>-->
<!--      </select>-->
<!--      <br>-->
<!--      <label i18n>Shelf</label>-->
<!--      <select id="parentShelf" class="form-select" formControlName="parent_warehouse" (change)="onShelfChange($event)">-->
<!--        <option *ngFor="let shelf of shelfs" [value]="shelf.id">{{ shelf.name }}</option>-->
<!--      </select>-->
    </div>
  <br>



    <!-- <pngx-input-text i18n-title title="parent_warehouse" formControlName="parent_warehouse" [error]="error?.parent_warehouse" autocomplete="off"></pngx-input-text> -->
    <!-- <pngx-input-text i18n-title title="Path" formControlName="path" [error]="error?.path" [hint]="pathHint"></pngx-input-text> -->
    <!-- <pngx-input-select i18n-title title="Matching algorithm" [items]="getMatchingAlgorithms()" formControlName="matching_algorithm"></pngx-input-select> -->
    @if (patternRequired) {
      <pngx-input-text i18n-title title="Matching pattern" formControlName="match" [error]="error?.match"></pngx-input-text>
    }
    @if (patternRequired) {
      <pngx-input-check i18n-title title="Case insensitive" formControlName="is_insensitive"></pngx-input-check>
    }

    <div *pngxIfOwner="object">
      <pngx-permissions-form [users]="users" accordion="true" formControlName="permissions_form"></pngx-permissions-form>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()" i18n [disabled]="networkActive">Cancel</button>
    <button type="submit" class="btn btn-primary" i18n [disabled]="networkActive">Save</button>
  </div>
</form>

