  <form [formGroup]="objectForm" (ngSubmit)="save()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{getTitle()}}</h4>
      <button type="button" [disabled]="!closeEnabled" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-input-text i18n-title title="Name" formControlName="name" [error]="error?.name"></app-input-text>

      <app-input-color i18n-title title="Color" formControlName="color" [error]="error?.color"></app-input-color>

      <app-input-check i18n-title title="Inbox tag" formControlName="is_inbox_tag" i18n-hint hint="Inbox tags are automatically assigned to all consumed documents."></app-input-check>
      <app-input-select i18n-title title="Matching algorithm" [items]="getMatchingAlgorithms()" formControlName="matching_algorithm"></app-input-select>
      <app-input-text *ngIf="patternRequired" i18n-title title="Matching pattern" formControlName="match" [error]="error?.match"></app-input-text>
      <app-input-check *ngIf="patternRequired" i18n-title title="Case insensitive" formControlName="is_insensitive"></app-input-check>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="cancel()" i18n [disabled]="networkActive">Cancel</button>
      <button type="submit" class="btn btn-primary" i18n [disabled]="networkActive">Save</button>
    </div>
  </form>
