  <form [formGroup]="objectForm" class="needs-validation" novalidate (ngSubmit)="save()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{getTitle()}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-input-text title="Name" formControlName="name"></app-input-text>
      <app-input-select title="Colour" [items]="getColours()" formControlName="colour" [textColor]="getColor(objectForm.value.colour).textColor" [backgroundColor]="getColor(objectForm.value.colour).value"></app-input-select>
      <app-input-check title="Inbox tag" formControlName="is_inbox_tag" hint="Inbox tags are automatically assigned to all consumed documents."></app-input-check>
      <app-input-text title="Match" formControlName="match"></app-input-text>
      <app-input-select title="Matching algorithm" [items]="getMatchingAlgorithms()" formControlName="matching_algorithm"></app-input-select>
      <app-input-check title="Case insensitive" formControlName="is_insensitive"></app-input-check>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
