<div class="list-group mt-3 selected-fields">
  @for (fieldId of selectedFields; track fieldId) {
    <div class="list-group-item
      d-flex
      justify-content-between
      align-items-center">
      @switch (getCustomField(fieldId)?.data_type) {
        @case (CustomFieldDataType.String) {
          <pngx-input-text [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-text>
        }
        @case (CustomFieldDataType.Date) {
          <pngx-input-date [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-date>
        }
        @case (CustomFieldDataType.Integer) {
          <pngx-input-number [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"
          [showAdd]="false"></pngx-input-number>
        }
        @case (CustomFieldDataType.Float) {
          <pngx-input-number [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"
          [showAdd]="false"
          [step]=".1"></pngx-input-number>
        }
        @case (CustomFieldDataType.Monetary) {
          <pngx-input-monetary [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [defaultCurrency]="getCustomField(fieldId)?.extra_data?.default_currency"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-monetary>
        }
        @case (CustomFieldDataType.Boolean) {
          <pngx-input-check [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-check>
        }
        @case (CustomFieldDataType.Url) {
          <pngx-input-url [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-url>
        }
        @case (CustomFieldDataType.DocumentLink) {
          <pngx-input-document-link [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [horizontal]="true"></pngx-input-document-link>
        }
        @case (CustomFieldDataType.Select) {
          <pngx-input-select [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"
          [items]="getCustomField(fieldId)?.extra_data.select_options"
          class="flex-grow-1"
          bindLabel="label"
          [allowNull]="true"
          [horizontal]="true"></pngx-input-select>
        }
        @case (CustomFieldDataType.LongText) {
          <pngx-input-textarea [(ngModel)]="value[fieldId]" (ngModelChange)="onChange(value)"
          [title]="getCustomField(fieldId)?.name"
          class="flex-grow-1"></pngx-input-textarea>
        }
      }
      <button type="button" class="btn btn-link text-danger" (click)="removeSelectedField.next(fieldId)">
        <i-bs name="trash"></i-bs>
      </button>
    </div>
  }
  @if (selectedFields?.length > 0) {
    <small class="form-text text-muted"><span i18n>String fields support Jinja templates, including mail placeholders</span> <code>&#123;&#123; mail.subject &#125;&#125;</code>, <code>&#123;&#123; mail.sender &#125;&#125;</code>, <code>&#123;&#123; mail.recipients &#125;&#125;</code>, <code>&#123;&#123; mail.date &#125;&#125;</code> <span i18n>(populated only when consumed via a mail rule). See <a target="_blank" href="https://docs.paperless-ngx.com/usage/#workflows">documentation</a>.</span></small>
  }
</div>
